body{
    color: #ffff;
    font-size: 20px;
    font-family: 'Patrick Hand', cursive;
}
.row{ 
    display: flex;
    align-items: center;
}
.col{
    flex: 1;
    padding: 20px;
    margin: 10px;
    background-color: rgb(254, 203, 224);
}
.col-2{
    flex: 2;
    padding: 20px;
    margin: 10px;
    background-color: rgb(254, 203, 224);
}
.col-3{
    flex: 3;
    padding: 20px;
    margin: 10px;
    background-color: rgb(254, 203, 224);
}