.header {
    background-color: rgb(178, 178, 178);
    height: 50px;
}


body {
    background-color: rgb(255, 255, 255);
}

.content {
    /* border: 1px solid rgb(215, 12, 12); */
    background-color: #fff;
}


.banner {
    width: 100%;
    background-size: cover;
    font-size: 80px;
    color: rgb(72, 72, 72);
    /* text-align: center; */
    padding: 40px 15px;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(240, 46, 170, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
}

.big-text {
    font-size: 130px;
    font-weight: 800;
    animation-delay: 1s;
}

.banner a {
    display: inline-block;
    background: #fff;
    color: #36465d;
    text-transform: uppercase;
    padding: 15px;
    text-decoration: none;
    font-size: 40px;
    transition: .3s;
}

.banner a:hover {
    background: #333;
    color: #fff;
    padding: 15px 20px;
}

.what-you-will-learn {
    padding: 2%;
    border: 1px solid #333;
    border-radius: 1%;

}

.what-you-will-learn-list {
    column-count: 2;
}

.what-you-will-learn-list li {
    padding: 1%;
    list-style-type: none;
    padding-left: 2.5em;
    background-image: url('done_FILL0_wght400_GRAD0_opsz48.svg');
    background-size: 1.5em;
    background-repeat: no-repeat;
    font-size: 14pt;
    font-weight: 450;
    /* list-style-image: url('done_FILL0_wght400_GRAD0_opsz48.svg'); */

}

.white-space {
    margin: 7% 0;
}

.white-space ul,
p {
    font-size: 14pt;
    font-weight: 450;
}