* {
    font-family: 'Inconsolata', monospace;
    font-family: 'Nanum Pen Script', cursive;
}

.container {
    background-color: #f1f1f1;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
}

.header img {
    width: 10%;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background-color: #f1f1f1;
    padding: 10px;
}

.grid-item-c1 {
    background-color: rgba(243, 239, 247, 0.8);
    border: 1.5px solid rgba(218, 218, 218, 0.8);
    padding: 5px;
    text-align: center;
    margin: 2px;
}

.grid-item-c2 {
    background-color: rgba(232, 241, 248, 0.8);
    border: 1.5px solid rgba(218, 218, 218, 0.8);
    padding: 10px;
    text-align: center;
    margin: 2px;
}

.grid-item-c1 img,
.grid-item-c2 img {
    width: 75%;
}

@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@300&family=Nanum+Pen+Script&display=swap');