@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap');

:root {
    --typewriterSpeed: 6s;
    --typewriterCharacters: 23;


}

body {
    /* margin: 0; */
    font-family: 'Source Code Pro', monospace;
    /* min-height: 100vh; */

}

.body-text {
    display: grid;
    margin-top: 30%;
    margin-bottom: 30%;
    place-content: center;
    text-align: center;
    background: #fff;

    /* min-height: 100vh; */
}

.body-text2 {
    display: grid;
    place-content: center;
    text-align: center;
    background: rgb(203, 195, 186);
    min-height: 40vh
}

h1,
h2 {
    font-size: clamp(1rem, 3vwm + 4rem);
    position: relative;
    font-family: 'Source Code Pro', monospace;
    position: relative;
    width: max-content;
    /* margin-left: 32%; */
}

h1::before,
h1::after,
h2::before,
h2::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

h1::before,
h2::before {
    background: #fff;
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1.5s forwards;
}

h1::after,
h2::after {
    width: 0.125em;
    background: rgb(81, 71, 56)0;
    animation: typewriter var(--typewriterSpeed) steps(var(--typewriterCharacters)) 1.5s forwards,
        blink 750ms steps(23) infinite;

}


.subtitle {
    color: rgb(81, 71, 56)0;
    font-size: 2rem;
    font-weight: 400;
    opacity: 0;
    transform: translateY(3rem);
    animation: fadeInUp 2s ease calc(var(--typewriterSpeed) + 2s) forwards;
}


@keyframes typewriter {
    to {
        left: 100%
    }
}

@keyframes blink {
    to {
        background: transparent;
    }
}

@keyframes fadeInUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    transition: opacity 250ms ease-in;
}

.fade-in.appear {
    opacity: 1;
}

.images img {
    width: 100%;
    height: auto;
}

.col-6 {
    margin-top: 3%;
    margin-bottom: 3%;
}

.text-center {
    margin-top: 30%;
}


.from-left {
    transform: translateX(-50%);

}

.from-right {
    transform: translateX(50%);
}


.from-left,
.from-right {
    transition: transform 750ms ease-in;
}

.from-left.appear,
.from-right.appear {
    transform: translateX(0);
}