.container {
    background-color: rgb(224, 224, 224);
}

.top-nav {
    height: 90px;
    background-color: rgb(71, 71, 71);
    color: #fff;
}

.bottom-box {
    display: flex;
    height: 120px;
    border-style: solid;
    margin: 2%;
}

.top-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.content {
    border-top: rgb(54, 54, 54) solid 2px;
}

.col-2 {
    background-color: rgb(240, 240, 240);
    color: rgb(54, 54, 54);
}

.col-2 button {
    margin: 2%;
}

.add {
    margin: 5%;
    border-top: rgb(54, 54, 54) solid 2px;
}